
<div layout="row">

    <md-card style="height: 40%">
        <md-card-header layout="column">
            <img src="http://stats.nba.com/media/players/230x185/202738.png" alt="image caption"
                 class="md-card-image"/>

            <h2>Isaiah Thomas</h2>
        </md-card-header>
    </md-card>


    <md-card layout="row" layout-padding style="height: 40%">
        <div layout="column">
            <h3>Name:</h3>
            Isaiah Thomas
            <h3>Birthdate</h3>
            1989-02-07
            <h3>Age</h3>
            27
        </div>
        <div layout="column">
            <h3>Birthplace</h3>
            Tacoma, Washington, USA
            <h3>Height</h3>
            1.75m
            <h3>Weight</h3>
            84.1kg
        </div>
        <div layout="column">
            <h3>Position</h3>
            PG
            <h3>Number</h3>
            4
        </div>
    </md-card>

    <md-card style="height: 40%">
        <md-card-header layout="column">
            <img src="http://stats.nba.com/media/img/teams/logos/BOS_logo.svg" alt="image caption" style="width: 230px; height: auto"/>
        </md-card-header>
    </md-card>
</div>
<div layout="row">

    <md-card style="height: 40%">
        <md-card-header layout="column">
            <img src="http://stats.nba.com/media/players/230x185/202738.png" alt="image caption"
                 class="md-card-image"/>

            <h2>Isaiah Thomas</h2>
        </md-card-header>
    </md-card>


    <md-card layout="row" layout-padding style="height: 40%">
        <div layout="column">
            <h3>Name:</h3>
            Isaiah Thomas
            <h3>Birthdate</h3>
            1989-02-07
            <h3>Age</h3>
            27
        </div>
        <div layout="column">
            <h3>Birthplace</h3>
            Tacoma, Washington, USA
            <h3>Height</h3>
            1.75m
            <h3>Weight</h3>
            84.1kg
        </div>
        <div layout="column">
            <h3>Position</h3>
            PG
            <h3>Number</h3>
            4
        </div>
    </md-card>

    <md-card style="height: 40%">
        <md-card-header layout="column">
            <img src="http://stats.nba.com/media/img/teams/logos/BOS_logo.svg" alt="image caption" style="width: 230px; height: auto"/>
        </md-card-header>
    </md-card>
</div>